example.com {
  tls {
    dns cloudflare <CLOUDFLARE_API_TOKENS>
  }

  # HTTP response headers borrowed from Nextcloud `.htaccess`
  header * {
    Strict-Transport-Security "max-age=15768000; includeSubDomains; preload;"
    Referrer-Policy "no-referrer"
    X-Content-Type-Options "nosniff"
    X-Download-Options "noopen"
    X-Frame-Options "SAMEORIGIN"
    X-Permitted-Cross-Domain-Policies "none"
    X-Robots-Tag "none"
    X-XSS-Protection "1; mode=block"

    # Remove X-Powered-By, which is an information leak
    -X-Powered-By
  }

  # Path to the root of your installation
  root * /var/www/html
  encode gzip zstd
  file_server

  php_fastcgi app:9000 {
    # Remove index.php form url
    env front_controller_active true
  }

  # Service discovery via well-known
  redir /.well-known/carddav /remote.php/dav 301
  redir /.well-known/caldav /remote.php/dav 301

  # Rules borrowed from `.htaccess` to hide certain paths from clients
  @forbidden {
    path /.htaccess
    path /data/*
    path /config/*
    path /db_structure
    path /.xml
    path /README
    path /3rdparty/*
    path /lib/*
    path /templates/*
    path /occ
    path /console.php
  }
  respond @forbidden 404
}